@import 'variables.less';
@import 'mixins.less';
//imports the seperate variable file
h1 {
    color: red;
}

h2 {
    color: green;
}

h3 {
    color: @primaryBlue;
}

p {
    color: @primaryBlue;
}

.important-block {
    width: @width;
    height: @height;
    background-color: red;
    .border-radius (10px); //this is the mixin
    
    p {
        color: white;
    }
}